//*************************
ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  width: 100%;
}
//*************************

header {
  max-width: 960px;
  padding: 0 4%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 260px;
  align-items: center;

  nav {
    ul {
      display: flex;

      li {
        margin-left: 30px;
        &:hover {
          opacity: 0.7;
        }
      }

      li a img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.main-view {
  img {
    width: 100%;
    height: 420px;
  }
  margin-bottom: 85px;
}

//*************************
.title {
  text-align: center;
}

section {
  max-width: 960px;
  padding: 0 4%;
  margin: 0 auto 135px auto;
}

.about {
  .name {
    margin-bottom: 35px;
  }
  ul li {
    margin-bottom: 5px;
  }

  .text {
    margin-top: 30px;
  }
}

//*************************

.works {
  ul {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
      padding-bottom: 30px;
    }
  }

  img {
    width: 260px;
    height: 170px;
  }
}

//*************************
.news {
  dl {
    display: flex;
    flex-wrap: wrap;
    border-top: solid 1px black;
    dt {
      width: 20%;
      border-bottom: solid 1px black;
      padding: 15px;
    }
    dd {
      width: 68%;
      border-bottom: solid 1px black;
      padding: 15px;
    }
  }
}

//*************************
.contact {
  dl {
    display: flex;
    flex-wrap: wrap;
    dt {
      width: 15%;
    }
    dd {
      width: 80%;
      margin-bottom: 10px;
      input {
        width: 100%;
        padding: 10px;
      }
      textarea {
        width: 100%;
        padding: 10px;
        resize: vertical;
      }
    }
  }
  .button {
    text-align: center;
    button {
      width: 200px;
      padding: 15px 0;
      background-color: black;
      color: white;
      border: solid 1px black;
    }
  }
}

//*************************
footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px 10px;
  p {
    font-size: 10x;
  }
}
